In [19]:
import os
import settings
import datetime
import pandas as pd
import numpy as np
import clean

In [8]:
df = pd.read_csv("data/LoanStats_2016Q1.csv", header = 1, )

/Users/chitwan/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,dti,delinq_2yrs,inq_last_6mths,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
count,0.0,133887.000000,133887.000000,133887.000000,133887.000000,1.338870e+05,0.0,133887.000000,133887.000000,133886.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,15589.394041,15589.394041,15581.984023,460.870707,8.046397e+04,NaN,20.870784,0.343476,0.576498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,8858.198349,8858.198349,8856.454888,261.616439,7.808478e+04,NaN,115.252571,0.908581,0.878987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1000.000000,1000.000000,775.000000,30.120000,0.000000e+00,NaN,-1.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,8400.000000,8400.000000,8400.000000,265.680000,4.950000e+04,NaN,12.640000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,14400.000000,14400.000000,14400.000000,398.520000,6.800000e+04,NaN,18.760000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,21000.000000,21000.000000,21000.000000,613.910000,9.500800e+04,NaN,25.770000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,40000.000000,40000.000000,40000.000000,1536.950000,9.550000e+06,NaN,9999.000000,22.000000,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
files = os.listdir(settings.DATA_DIR)
files

['.DS_Store',
 'LoanStats_2016Q3.csv',
 'LoanStats_2016Q2.csv',
 'LoanStats_2016Q1.csv']

In [15]:
files = []

for item in os.listdir(settings.DATA_DIR):
    if item.endswith(".csv"):
        files.append(item)

In [17]:
files

['LoanStats_2016Q3.csv', 'LoanStats_2016Q2.csv', 'LoanStats_2016Q1.csv']

In [2]:
SELECT = [
"loan_amnt",
"term",
"int_rate",
"installment",
"grade",
"sub_grade",
"emp_title",
"emp_length",
"home_ownership",
"annual_inc",
"verification_status",
"issue_d",
"loan_status",
"purpose",
"addr_state",
"dti",
"earliest_cr_line",
"open_acc",
"pub_rec",
"revol_util",
"total_acc",
"initial_list_status",
"application_type"
]

dt = {
"loan_amnt": float,
"term": object,
"int_rate": object,
"installment": float,
"grade": object,
"sub_grade": object,
"emp_title": object,
"emp_length": object,
"home_ownership": object,
"annual_inc": float,
"verification_status": object,
"issue_d": object,
"loan_status": object,
"purpose": object,
"addr_state": object,
"dti": float,
"earliest_cr_line": object,
"open_acc": float,
"pub_rec": float,
"revol_util": object,
"total_acc": float,
"initial_list_status": object,
"application_type": object
}

In [99]:
def p2f(x):
    return float(x.strip().strip('%'))/100

In [4]:
raw12_13= pd.read_csv("my analysis/LoanStats3b.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
raw12_13.drop(raw12_13.tail(3).index, inplace = True)

In [6]:
raw12_13.to_pickle('my analysis/data/12-13raw.pkl')

In [5]:
raw12_13.loan_status[raw12_13.loan_status.isin(["Current"])].count()

7955

In [6]:
def lookup(s):
    """
    This is an extremely fast approach to datetime parsing.
    For large data, the same dates are often repeated. Rather than
    re-parse these, we store all unique dates, parse them, and
    use a lookup to convert all dates.
    """
    dates = {date:pd.to_datetime(date) for date in s.unique()}
    return s.map(dates)

In [7]:
for column in ["issue_d", "earliest_cr_line"]:
        # Convert date columns into datetime objects using the lookup function
        alldata[column] = lookup(alldata[column])
        
        # Create month and year columns for each date column and delete the original date column
        alldata["{}_year".format(column)] = pd.to_numeric(alldata[column].dt.year)
        alldata["{}_month".format(column)] = pd.to_numeric(alldata[column].dt.month)
        del alldata[column]

In [9]:
today = pd.to_datetime('today')
curr_quart = (today.month-1)//3 + 1
curr_year = today.year
issue_quart = (alldata["issue_d_month"]-1)//3 + 1
issue_year = alldata["issue_d_year"]
alldata["tracked_quart"] = (curr_year - issue_year)*4 + (curr_quart - issue_quart) - 1

In [12]:
alldata.tracked_quart.head()

0    16
1    16
2    16
3    16
4    16
Name: tracked_quart, dtype: int64

In [13]:
alldata.issue_d_month.head()

0    12
1    12
2    12
3    12
4    12
Name: issue_d_month, dtype: int64

In [14]:
alldata.issue_d_year.head()

0    2013
1    2013
2    2013
3    2013
4    2013
Name: issue_d_year, dtype: int64

In [63]:
((raw12_13.loan_status.value_counts())["Fully Paid"] + (raw12_13.loan_status.value_counts())["Current"])/ raw12_13.loan_status.count()

0.84246466149431398

In [45]:
raw12_13["int_rate"]

0           8.90%
1          13.53%
2          13.53%
3          12.85%
4          11.99%
5          10.99%
6          13.53%
7           9.67%
8           6.62%
9          12.85%
10         22.90%
11          7.62%
12         10.99%
13         10.99%
14         16.24%
15         19.97%
16         10.99%
17          7.62%
18         14.47%
19         13.98%
20         14.98%
21         20.50%
22         11.99%
23          7.62%
24         15.61%
25          9.67%
26          7.90%
27         10.99%
28         18.25%
29          6.03%
           ...
188150     15.27%
188151     17.27%
188152     17.58%
188153     16.29%
188154     11.71%
188155      6.03%
188156     13.49%
188157      6.03%
188158     12.42%
188159     12.42%
188160     17.58%
188161     14.65%
188162      6.03%
188163     15.96%
188164     14.65%
188165     22.35%
188166      9.91%
188167     22.74%
188168     19.91%
188169     17.58%
188170     22.74%
188171     14.27%
188172     12.69%
188173     14.65%
188174     14.27%
188175      7.90%
188176     16.77%
188177     15.27%
188178     15.96%
188179     16.29%
Name: int_rate, Length: 188180, dtype: object

In [42]:
y = pd.Series([float(x.strip().strip('%'))/100 for x in raw12_13.int_rate])
y.head()

0    0.0890
1    0.1353
2    0.1353
3    0.1285
4    0.1199
dtype: float64

In [7]:
raw14= pd.read_csv("my analysis/LoanStats3c.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
raw14.drop(raw14.tail(3).index, inplace = True)

In [8]:
raw14.to_pickle('my analysis/data/14raw.pkl')

In [39]:
((raw14.loan_status.value_counts())["Fully Paid"] + (raw14.loan_status.value_counts())["Current"])/ raw14.loan_status.count()

0.82890403517408795

In [9]:
raw15= pd.read_csv("my analysis/LoanStats3d.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
raw15.drop(raw15.tail(3).index, inplace = True)

In [10]:
raw15.to_pickle('my analysis/data/15raw.pkl')

In [40]:
((raw15.loan_status.value_counts())["Fully Paid"] + (raw15.loan_status.value_counts())["Current"])/ raw15.loan_status.count()

0.83537879903299506

In [11]:
rawQ1= pd.read_csv("my analysis/LoanStats_2016Q1.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
rawQ1.drop(rawQ1.tail(3).index, inplace = True)

In [12]:
rawQ1.to_pickle('my analysis/data/16Q1raw.pkl')

In [41]:
((rawQ1.loan_status.value_counts())["Fully Paid"] + (rawQ1.loan_status.value_counts())["Current"])/ rawQ1.loan_status.count()

0.9063008828406256

In [13]:
rawQ2= pd.read_csv("my analysis/LoanStats_2016Q2.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
rawQ2.drop(rawQ2.tail(3).index, inplace = True)

In [14]:
rawQ2.to_pickle('my analysis/data/16Q2raw.pkl')

In [42]:
((rawQ2.loan_status.value_counts())["Fully Paid"] + (rawQ2.loan_status.value_counts())["Current"]) / rawQ2.loan_status.count()

0.9238142928678732

In [15]:
rawQ3= pd.read_csv("my analysis/LoanStats_2016Q3.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
rawQ3.drop(rawQ3.tail(3).index, inplace = True)

In [16]:
rawQ3.to_pickle('my analysis/data/16Q3raw.pkl')

In [43]:
((rawQ3.loan_status.value_counts())["Fully Paid"] + (rawQ3.loan_status.value_counts())["Current"]) / rawQ3.loan_status.count()

0.94455149870357857

In [20]:
rawQ4= pd.read_csv("my analysis/LoanStats_2016Q4.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
rawQ4.drop(rawQ4.tail(3).index, inplace = True)

In [21]:
rawQ4.to_pickle('my analysis/data/16Q4raw.pkl')

In [22]:
raw17Q1= pd.read_csv("my analysis/LoanStats_2017Q1.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
raw17Q1.drop(raw17Q1.tail(3).index, inplace = True)

In [23]:
raw17Q1.to_pickle('my analysis/data/17Q1raw.pkl')

In [24]:
raw17Q2= pd.read_csv("my analysis/LoanStats_2017Q2.csv", header = 1, dtype=dt, usecols = SELECT, na_values = [""] )
raw17Q2.drop(raw17Q2.tail(3).index, inplace = True)

In [25]:
raw17Q2.to_pickle('my analysis/data/17Q2raw.pkl')

In [121]:
df.loan_status.unique()

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'Charged Off',
       'In Grace Period', 'Late (16-30 days)', 'Default'], dtype=object)

In [27]:
df = pd.read_csv("processed/alldata.csv", header = 0)

In [28]:
df.shape

(330856, 23)

In [29]:
df.loan_status.value_counts() / df.loan_status.count()

Current               0.777894
Fully Paid            0.145045
Charged Off           0.039779
Late (31-120 days)    0.021768
In Grace Period       0.009917
Late (16-30 days)     0.005567
Default               0.000030
Name: loan_status, dtype: float64

In [2]:
dat = pd.read_pickle('processed/assembled.pkl')

In [3]:
clean.int_rate2float(dat)
clean.target2binary(dat)
clean.categorical_code(dat)

In [6]:
def split_dates(alldata):
    """ 
    Splits dates into month and year column and deletes the 
    original date column. Function also eliminates loans that
    are less than 1.5 years old (see main.ipynb for complete reasoning)
    """
    def lookup(s):
        """
        This is an extremely fast approach to datetime parsing.
        For large data, the same dates are often repeated. Rather than
        re-parse these, we store all unique dates, parse them, and
        use a lookup to convert all dates.
        """
        dates = {date:pd.to_datetime(date) for date in s.unique()}
        return s.map(dates)

    for column in ["issue_d", "earliest_cr_line"]:
        # Convert date columns into datetime objects using the lookup function
        alldata[column] = lookup(alldata[column])
        
        # Create month and year columns for each date column and delete the original date column
        alldata["{}_year".format(column)] = pd.to_numeric(alldata[column].dt.year)
        alldata["{}_month".format(column)] = pd.to_numeric(alldata[column].dt.month)
        del alldata[column]

In [7]:
split_dates(dat)

In [10]:
# Keep only data that meets the minimum tracking quarters requirement (defined in settings.py)
today = pd.to_datetime('today')
curr_quart = (today.month-1)//3 + 1
curr_year = today.year

2017

In [23]:
issue_quart = (dat["issue_d_month"]-1)//3 + 1
issue_year = dat["issue_d_year"]
issue_year

0          2016.0
1          2016.0
2          2016.0
3          2016.0
4          2016.0
5          2016.0
6          2016.0
7          2016.0
8          2016.0
9          2016.0
10         2016.0
11         2016.0
12         2016.0
13         2016.0
14         2016.0
15         2016.0
16         2016.0
17         2016.0
18         2016.0
19         2016.0
20         2016.0
21         2016.0
22         2016.0
23         2016.0
24         2016.0
25         2016.0
26         2016.0
27         2016.0
28         2016.0
29         2016.0
            ...
1218271    2007.0
1218272    2007.0
1218273    2007.0
1218274    2007.0
1218275    2007.0
1218276    2007.0
1218277    2007.0
1218278    2007.0
1218279    2007.0
1218280    2007.0
1218281    2007.0
1218282    2007.0
1218283    2007.0
1218284    2007.0
1218285    2007.0
1218286    2007.0
1218287    2007.0
1218288    2007.0
1218289    2007.0
1218290    2007.0
1218291    2007.0
1218292    2007.0
1218293    2007.0
1218294    2007.0
1218295    2007.0
1218296    2007.0
1218297    2007.0
1218298    2007.0
1218299    2007.0
1218300    2007.0
Name: issue_d_year, Length: 1218301, dtype: float64

In [39]:
dat["tracked_quart"] = (curr_year - issue_year)*4 + (curr_quart - issue_quart) - 1

dat = dat[dat["tracked_quart"] > settings.MINIMUM_TRACKING_QUARTERS]

dat

(1021326, 25)

In [43]:
dat = dat.fillna(-1)
dat.shape

(1021326, 25)

In [49]:
cleaned = pd.read_pickle("processed/cleaned.pkl")

In [50]:
cleaned

,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,...,revol_util,initial_list_status,application_type,tot_cur_bal,tot_hi_cred_lim,issue_d_year,issue_d_month,earliest_cr_line_year,earliest_cr_line_month,tracked_quart
0,16000.0,1,9.75,337.99,7,1,4,120000.0,1,True,...,30.5,1,1,109019.0,160515.0,2016.0,3.0,1994.0,11.0,6.0
1,6000.0,0,7.39,186.34,3,3,1,72000.0,1,True,...,23.6,1,1,24618.0,45139.0,2016.0,3.0,2008.0,10.0,6.0
2,5625.0,0,18.25,204.07,17,1,1,53328.0,2,True,...,26.9,0,1,156318.0,200449.0,2016.0,3.0,2005.0,3.0,6.0
3,6000.0,0,10.75,195.73,8,8,5,35000.0,1,True,...,75.3,1,1,26867.0,33626.0,2016.0,3.0,2005.0,5.0,6.0
4,10000.0,0,8.39,315.17,5,10,5,48000.0,1,True,...,52.1,1,1,39061.0,61807.0,2016.0,3.0,2012.0,3.0,6.0
5,6000.0,0,7.39,186.34,3,3,1,72000.0,1,True,...,23.6,1,1,24618.0,45139.0,2016.0,3.0,2008.0,10.0,6.0
6,5625.0,0,18.25,204.07,17,1,1,53328.0,2,True,...,26.9,0,1,156318.0,200449.0,2016.0,3.0,2005.0,3.0,6.0
7,6000.0,0,10.75,195.73,8,8,5,35000.0,1,True,...,75.3,1,1,26867.0,33626.0,2016.0,3.0,2005.0,5.0,6.0
8,10000.0,0,8.39,315.17,5,10,5,48000.0,1,True,...,52.1,1,1,39061.0,61807.0,2016.0,3.0,2012.0,3.0,6.0
9,17000.0,0,9.75,546.55,7,10,1,40000.0,2,True,...,85.9,1,1,31939.0,44131.0,2016.0,3.0,2006.0,8.0,6.0
10,15000.0,0,9.75,482.25,7,0,1,60000.0,1,True,...,28.6,1,1,169406.0,198293.0,2016.0,3.0,2011.0,5.0,6.0
11,30000.0,1,12.99,682.44,11,9,5,70000.0,1,True,...,77.4,1,1,29275.0,45700.0,2016.0,3.0,1993.0,12.0,6.0
12,20400.0,1,13.67,471.19,12,8,1,44122.0,0,True,...,96.5,1,1,135503.0,158669.0,2016.0,3.0,2003.0,11.0,6.0
13,10000.0,0,6.49,306.45,1,0,5,40000.0,0,True,...,37.7,1,1,31532.0,51246.0,2016.0,3.0,2005.0,11.0,6.0
14,12000.0,1,11.47,263.74,9,1,5,30000.0,2,True,...,16.7,1,0,36850.0,182147.0,2016.0,3.0,1996.0,2.0,6.0
15,11275.0,0,15.31,392.57,14,10,1,35000.0,1,True,...,77.0,1,1,54475.0,110006.0,2016.0,3.0,1997.0,11.0,6.0
16,9650.0,0,14.46,331.98,13,1,1,64000.0,0,True,...,25.8,0,1,215627.0,293702.0,2016.0,3.0,1994.0,10.0,6.0
17,5000.0,0,11.99,166.05,10,9,5,80000.0,0,True,...,40.7,1,1,49694.0,80574.0,2016.0,3.0,2006.0,9.0,6.0
18,8000.0,0,10.75,260.97,8,5,5,73000.0,1,True,...,8.0,1,1,62125.0,78840.0,2016.0,3.0,2005.0,1.0,6.0
19,24000.0,1,19.53,629.60,19,0,4,135000.0,2,True,...,67.9,1,1,118667.0,134314.0,2016.0,3.0,2002.0,9.0,6.0
20,7025.0,0,12.99,236.67,11,0,4,22000.0,1,True,...,8.7,1,1,18002.0,28974.0,2016.0,3.0,1987.0,10.0,6.0
21,12800.0,0,11.99,425.09,10,6,1,53000.0,2,True,...,79.1,1,1,221036.0,235600.0,2016.0,3.0,2002.0,3.0,6.0
22,8000.0,0,6.97,246.91,2,2,1,75000.0,1,False,...,64.9,1,1,58459.0,94383.0,2016.0,3.0,1996.0,6.0,6.0
23,22000.0,0,6.49,674.18,1,1,1,134000.0,2,True,...,67.0,1,1,405151.0,456923.0,2016.0,3.0,1972.0,5.0,6.0
24,30000.0,1,9.75,633.73,7,2,1,88000.0,1,True,...,43.5,1,1,230635.0,290300.0,2016.0,3.0,2003.0,7.0,6.0
25,25000.0,1,12.99,568.70,11,1,5,138000.0,0,True,...,37.1,1,1,11565.0,58967.0,2016.0,3.0,1995.0,8.0,6.0
26,4500.0,0,6.97,138.89,2,1,1,72000.0,1,True,...,35.1,1,1,76158.0,114114.0,2016.0,3.0,1998.0,2.0,6.0
27,12000.0,0,9.75,385.80,7,10,5,120000.0,0,True,...,18.0,1,1,33553.0,129148.0,2016.0,3.0,1999.0,7.0,6.0
28,8400.0,0,13.67,285.75,12,1,5,55000.0,2,True,...,49.3,1,1,36807.0,57316.0,2016.0,3.0,2004.0,12.0,6.0
29,14950.0,0,11.99,496.49,10,3,1,34000.0,1,True,...,62.9,1,1,29343.0,39704.0,2016.0,3.0,2001.0,7.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021296,20000.0,0,15.01,693.45,25,2,4,80000.0,0,False,...,59.3,0,2,-1.0,-1.0,2007.0,7.0,1997.0,9.0,40.0
1021297,6725.0,0,13.12,226.98,19,1,1,60000.0,0,False,...,88.9,0,2,-1.0,-1.0,2007.0,7.0,1991.0,5.0,40.0
1021298,2000.0,0,12.80,67.20,18,10,4,10000.0,0,True,...,61.9,0,2,-1.0,-1.0,2007.0,7.0,2004.0,4.0,40.0
1021299,6000.0,0,13.12,202.51,19,2,5,12000.0,0,True,...,49.3,0,2,-1.0,-1.0,2007.0,7.0,2004.0,12.0,40.0
1021300,5350.0,0,13.12,180.57,19,0,4,4000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,7.0,2006.0,12.0,40.0
1021301,1900.0,0,9.64,61.00,8,0,1,100000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,7.0,-1.0,-1.0,40.0
1021302,10000.0,0,14.70,345.18,24,0,5,50000.0,0,True,...,85.0,0,2,-1.0,-1.0,2007.0,7.0,1999.0,9.0,40.0
1021303,2000.0,0,7.12,61.87,0,7,1,150000.0,0,True,...,2.2,0,2,-1.0,-1.0,2007.0,7.0,1984.0,3.0,40.0
1021304,6000.0,0,10.59,195.28,11,10,5,20000.0,0,True,...,66.0,0,2,-1.0,-1.0,2007.0,6.0,1996.0,1.0,41.0
1021305,4400.0,0,9.64,141.25,8,2,1,30000.0,0,True,...,63.5,0,2,-1.0,-1.0,2007.0,6.0,2004.0,7.0,41.0
1021306,1200.0,0,9.01,38.17,6,10,5,36000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021307,5000.0,0,11.22,164.23,13,10,5,28000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021308,1400.0,0,10.91,45.78,12,10,5,40000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021309,1000.0,0,14.07,34.21,22,1,5,25000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021310,5000.0,0,7.75,156.11,2,1,1,300000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021311,2500.0,0,7.43,77.69,1,9,1,66624.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021312,3000.0,0,7.43,93.23,1,0,1,80000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021313,2600.0,0,8.38,81.94,4,3,1,6500.0,0,False,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021314,1000.0,0,7.12,30.94,0,6,5,50000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021315,1275.0,0,12.49,42.65,17,0,5,40000.0,0,False,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021316,6450.0,0,11.22,211.85,13,2,5,32000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021317,10500.0,0,11.22,344.87,13,3,5,60000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021318,3000.0,0,9.01,95.42,6,10,5,35000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021319,3000.0,0,9.33,95.86,7,10,4,20000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021320,2000.0,0,9.96,64.50,9,10,5,6000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021321,6500.0,0,9.64,208.66,8,10,5,20000.0,0,False,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021322,3500.0,0,10.28,113.39,10,10,5,180000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021323,1000.0,0,9.64,32.11,8,10,5,12000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021324,2525.0,0,9.33,80.69,7,10,5,110000.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0
1021325,6500.0,0,8.38,204.84,4,10,2,-1.0,0,True,...,-1.0,0,2,-1.0,-1.0,2007.0,6.0,-1.0,-1.0,41.0

Things we need to do: 
- make the target var (loan_status) into 0/1 (fully paid off or not); throw out current loans
- turn all categorical variables into numerics
- parse in the dates as actual dates?
- split dates into month and year columns