In [11]:
import os
import settings
import datetime
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("data/LoanStats_2016Q1.csv", header = 1, )

/Users/chitwan/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,dti,delinq_2yrs,inq_last_6mths,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
count,0.0,133887.000000,133887.000000,133887.000000,133887.000000,1.338870e+05,0.0,133887.000000,133887.000000,133886.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,15589.394041,15589.394041,15581.984023,460.870707,8.046397e+04,NaN,20.870784,0.343476,0.576498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,8858.198349,8858.198349,8856.454888,261.616439,7.808478e+04,NaN,115.252571,0.908581,0.878987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1000.000000,1000.000000,775.000000,30.120000,0.000000e+00,NaN,-1.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,8400.000000,8400.000000,8400.000000,265.680000,4.950000e+04,NaN,12.640000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,14400.000000,14400.000000,14400.000000,398.520000,6.800000e+04,NaN,18.760000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,21000.000000,21000.000000,21000.000000,613.910000,9.500800e+04,NaN,25.770000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,40000.000000,40000.000000,40000.000000,1536.950000,9.550000e+06,NaN,9999.000000,22.000000,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
files = os.listdir(settings.DATA_DIR)
files

['.DS_Store',
 'LoanStats_2016Q3.csv',
 'LoanStats_2016Q2.csv',
 'LoanStats_2016Q1.csv']

In [15]:
files = []

for item in os.listdir(settings.DATA_DIR):
    if item.endswith(".csv"):
        files.append(item)

In [17]:
files

['LoanStats_2016Q3.csv', 'LoanStats_2016Q2.csv', 'LoanStats_2016Q1.csv']

In [96]:
SELECT = [
"loan_amnt",
"term",
"int_rate",
"installment",
"grade",
"sub_grade",
"emp_title",
"emp_length",
"home_ownership",
"annual_inc",
"verification_status",
"issue_d",
"loan_status",
"purpose",
"addr_state",
"dti",
"earliest_cr_line",
"open_acc",
"pub_rec",
"revol_util",
"total_acc",
"initial_list_status",
"application_type"
]

dt = {
"loan_amnt": float,
"term": object,
"int_rate": object,
"installment": float,
"grade": object,
"sub_grade": object,
"emp_title": object,
"emp_length": object,
"home_ownership": object,
"annual_inc": float,
"verification_status": object,
"issue_d": object,
"loan_status": object,
"purpose": object,
"addr_state": object,
"dti": float,
"earliest_cr_line": object,
"open_acc": float,
"pub_rec": float,
"revol_util": object,
"total_acc": float,
"initial_list_status": object,
"application_type": object
}

In [85]:
def conv(val):
    if val == '':
        return 0 # or whatever else you want to represent your NaN with
    return val

In [124]:
df = pd.read_csv("data/LoanStats_2016Q2.csv", header = 1, usecols= SELECT, dtype=dt, na_values = [""] )
df.drop(df.tail(3).index, inplace = True)

In [125]:
df.loan_status.value_counts()

Current               76929
Fully Paid            13469
Charged Off            3779
Late (31-120 days)     2178
In Grace Period         896
Late (16-30 days)       598
Default                   4
Name: loan_status, dtype: int64

In [121]:
df.loan_status.unique()

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'Charged Off',
       'In Grace Period', 'Late (16-30 days)', 'Default'], dtype=object)

In [135]:
df = pd.read_csv("processed/alldata.csv", header = 0)

In [136]:
df.

(330856, 23)